.header {
    background-color: #ffffff; /* bg-white */
    place-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
  }

  .title {
    margin-bottom: 1rem; /* 16px */
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0;
    color: rgb(17 24 39)
  }


  .text {
    margin-bottom: 1.5rem;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.025em;
    color: rgb(107 114 128);
}